*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    padding:2rem;
    background-color:#181a1b;
    margin-bottom:4rem;
}

body{
    background-color:rgb(71, 185, 26);
}

main{
    padding-bottom:4rem;
}

h1{
    text-align:center;
    margin-bottom:2rem;
    font-size: 2.5rem;
    text-shadow: 2px 2px 3px black;
    color: rgb(248, 244, 16);
}

h2{
    color:white;
    padding-left:2rem;
}

div#grid{
    display:flex;
    flex-wrap:wrap;
    width:1000px;
    height:1000px;
    margin:0 auto;
}

div#grid,
div#grid article.square{
    border: 2px solid black;
}

div#grid > article.square{
    width:calc(100% / 10);
    height:calc(100% / 10);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
}

div#grid > article.square.active{
    background-color: rgb(34, 34, 139);
    color:white;
}

#play-button{
    padding: 0.5rem;
    background-color: gray;
    border: 1px solid black;
    border-radius: .5rem;
    font-size:1.5rem;
}

#play-button:active{
    background-color:lightgray;
}

.div_button{
    padding:.5rem;
    display:flex;
    justify-content:center;
}

div#grid > article.square.bomb {
    background-color: red;
}

div#grid > article.square.salvo {
    background-color: rgb(38, 169, 212);
}

.logo{
    padding-top:2rem;
    padding-bottom: 2rem;
    padding-right:4rem;
    display: flex;
    justify-content: space-between;
}

footer{
    background-color:black;
}